{% extends "base.html" %}

{% block title %}SeaClear - Home{% endblock %}

{% block extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/all_beaches.css') }}"
/>
{% endblock %}

{% block content %}
<div class="beaches-container">
    <!-- Filter Section -->
    <div class="filters">
        <label for="filter-text">Search:</label>
        <input type="text" id="filter-text" placeholder="Search for beaches..." onkeyup="filterBeaches()">

        <label for="filters">Filter by:</label>
        <select id="filters" onchange="filterBeaches()">
            <option value="">All</option>
            <option value="Restrooms">Restrooms</option>
            <option value="Parking">Parking</option>
            <option value="Lifeguard">Lifeguard</option>
            <option value="Showers">Showers</option>
            <option value="Swimming pools">Swimming pools</option>
        </select>

        <label for="safety">Filter by Safety:</label>
        <select id="safety" onchange="filterBeaches()">
            <option value="">All</option>
            <option value="SAFE">SAFE</option>
            <option value="UNSAFE">UNSAFE</option>
        </select>
    </div>
    <!-- Favorites Section -->
     <h3>Favorite Beaches</h3>
    <div class="favorites-section">
        
        {% if favorite_beaches %}
        <div class="favorites-section">
            {% for favorite_beach in favorite_beaches %}
                <div class="card" data="{{ favorite_beach.amenities | join(' ') }}" data-safety="{{ favorite_beach.status }}">
                    <!-- Directions Button -->
                    <div class="directions-button {{ 'safe' if favorite_beach.status == 'SAFE' else 'unsafe' }}">
                        <a href="https://www.google.com/maps?q={{ favorite_beach.latitude }},{{ favorite_beach.longitude }}" target="_blank" class="directions-icon">
                            Get Directions <i class="fa fa-location-arrow"></i>
                        </a>
                    </div>
                    
                    <!-- Beach Image -->
                    <img src="{{ url_for('static', filename='images/' + favorite_beach.get('image', 'default_beach.jpg')) }}" alt="Beach Image">

                    <!-- Favorite Pin Icon -->
                    <div class="pin-favorite">
                        <a href="{{ url_for('favorites', beach_id=favorite_beach.id, view="beaches") }}" class="favorite-pin">
                            <i class="fa fa-thumbtack"></i>
                        </a>
                    </div>

                    <!-- Card Content -->
                    <div class="card-content">
                        <h5>{{ favorite_beach.name }} ({{ favorite_beach.location }})</h5>
                        <!-- Status Indicator -->
                        <div class="status {{ 'status-safe' if favorite_beach.status == 'SAFE' else 'status-unsafe' }}">
                            <i class="fa fa-swimmer"></i> {{ favorite_beach.status }}
                        </div>
                    </div>

                    <!-- Real-time Weather Information -->
                    <div class="weather-info">
                        <p><i class="fa fa-thermometer-half"></i> {{ favorite_beach.temperature }}°C</p>
                        <p><i class="fa fa-wind"></i> {{ favorite_beach.wind_speed }} m/s</p>
                        <a href="{{ url_for('beach_detail', beach_id=favorite_beach.id) }}" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h4>No favorite beaches found. Add some to your favorites!</h4>
    {% endif %}
    </div>

    <!-- All Beaches Section -->
    <div class="all-beaches-section">
        <h3>All Beaches</h3>
        <div id="beaches-container">
            {% for beach in beaches %}
            <div class="card" data="{{ beach.amenities | join(' ') }}" data-safety="{{ beach.status }}">
                <!-- Directions Button -->
                <div class="directions-button {{ 'safe' if beach.status == 'SAFE' else 'unsafe' }}">
                    <a href="https://www.google.com/maps?q={{ beach.latitude }},{{ beach.longitude }}" target="_blank" class="directions-icon">
                        Get Directions <i class="fa fa-location-arrow"></i>
                    </a>
                </div>
                
                <!-- Beach Image -->
                <img src="{{ url_for('static', filename='images/' + beach.get('image', 'default_beach.jpg')) }}" alt="Beach Image">

                <!-- Favorite Pin Icon -->
                <div class="pin-favorite">
                    <a href="{{ url_for('favorites', beach_id=beach.id, view="beaches") }}" class="favorite-pin">
                        <i class="fa fa-thumbtack"></i>
                    </a>
                </div>

                <!-- Card Content -->
                <div class="card-content">
                    <h4>{{ beach.name }} ({{ beach.location }})</h4>
                    <!-- Status Indicator -->
                    <div class="status {{ 'status-safe' if beach.status == 'SAFE' else 'status-unsafe' }}">
                        <i class="fa fa-swimmer"></i> {{ beach.status }}
                    </div>
                </div>

                <!-- Real-time Weather Information -->
                <div class="weather-info">
                    <p><i class="fa fa-thermometer-half"></i> {{ beach.temperature }}°C</p>
                    <p><i class="fa fa-wind"></i> {{ beach.wind_speed }} m/s</p>
                    <a href="{{ url_for('beach_detail', beach_id=beach.id) }}" class="btn btn-primary">View Details ></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    function filterBeaches() {
    const searchText = document.getElementById('filter-text').value.toLowerCase();
    const selectedfilter = document.getElementById('filters').value;
    const selectedSafety = document.getElementById('safety').value;
    
    const beachCards = document.querySelectorAll('.card');

    beachCards.forEach(card => {
        const headings = card.querySelectorAll('h4, h5');
        const beachName = Array.from(headings)
            .map(el => el.textContent.toLowerCase())
            .join(' '); // Join text from both tags
        const cardfilters = card.getAttribute('data');
        const cardSafety = card.getAttribute('data-safety');
        
        const matchesfilter = selectedfilter === '' || cardfilters.includes(selectedfilter);
        const matchesSafety = selectedSafety === '' || cardSafety === selectedSafety;

        // Show/Hide based on filter conditions
        if (beachName.includes(searchText) && matchesfilter && matchesSafety) {
            card.style.display = 'block'; // Show card
        } else {
            card.style.display = 'none'; // Hide card
        }
    });
}

</script>
{% endblock %}
