{% extends "base.html" %}

{% block title %}Understanding the Economic effects of poor Water Quality{% endblock %}

{% block extra_css %}
<style>
  .infographic-section {
    position: relative;
  }

  .watermark {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    z-index: 10;
  }

  .watermark a {
    color: #fff;
    text-decoration: none;
  }

  .watermark a:hover {
    text-decoration: underline;
  }
</style>
{% endblock %}

{% block content %}
<main>
  <div class="container text-center">
    <h1 class="mb-4">Understanding the economic effects economic of poor Water Quality</h1>

    <!-- Infographic Section -->
    <section class="infographic-section position-relative">
      <img src="{{ url_for('static', filename='images/impact.png') }}" alt="Understanding the effects of poor Water Quality" class="img-fluid">
      <div class="watermark">
        <a href="https://greencoast.org/ways-to-reduce-water-pollution/#:~:text=16%20ways%20to%20reduce%20water%20pollution%20and%20help,Avoid%20using%20a%20garbage%20disposal%20...%20More%20items" target="_blank">GreenCoast.org</a>
      </div>
    </section>
  </div>
</main>
{% endblock %}
